
# ------------------------------------------------------------------------------
#  General Python
# ------------------------------------------------------------------------------
__pycache__/
*.py[cod]
*$py.class
*.pyo
*.pyd

# ------------------------------------------------------------------------------
#  Distribution / Packaging
# ------------------------------------------------------------------------------
build/
dist/
*.egg-info/
.eggs/
*.egg
pip-wheel-metadata/
*.manifest
*.spec

# ------------------------------------------------------------------------------
#  Virtual Environments
# ------------------------------------------------------------------------------
env/
venv/
.venv/
ENV/
.ENV/
venv.bak/

# ------------------------------------------------------------------------------
#  Install / Logs
# ------------------------------------------------------------------------------
pip-log.txt
pip-delete-this-directory.txt

# ------------------------------------------------------------------------------
#  Unit Test / Coverage
# ------------------------------------------------------------------------------
.tox/
.pytest_cache/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.mypy_cache/
.dmypy.json
dmypy.json

# ------------------------------------------------------------------------------
#  IDE / Editor
# ------------------------------------------------------------------------------
.vscode/
.idea/
*.swp
*.swo

# ------------------------------------------------------------------------------
#  Environment Variables
# ------------------------------------------------------------------------------
.env
.env.*

# ------------------------------------------------------------------------------
#  Streamlit
# ------------------------------------------------------------------------------
.streamlit/

uni-lit/*
